<div>
  <link href="./features-card.css" rel="stylesheet" />
  <div class="features-card-features-card">
    <img
      alt="image"
      src="public/playground_assets/frame%2035.svg"
      class="features-card-image"
    />
    <div class="features-card-container">
      <h1 class="features-card-text heading4">
        <span>Fund your account</span>
      </h1>
      <span class="features-card-text1">
        <span>
          Add funds to your crypto account to start trading crypto. You can add
          funds with a variety of payment methods.
        </span>
      </span>
    </div>
  </div>
</div>
