<div>
  <link href="./image-box.css" rel="stylesheet" />
  <div class="image-box-container">
    <img
      alt="image"
      src="public/playground_assets/frame%2068.svg"
      class="image-box-image"
    />
    <div class="image-box-container1">
      <h1 class="image-box-text heading4">
        <span>Secure Asset Fund for Users</span>
      </h1>
      <span class="image-box-text1">
        <span>
          Hexacoin stores 10% of all trading fees in a secure asset fund to
          protect a share of user funds.
        </span>
      </span>
      <div class="button-container button-root-class-name3">
        <button class="button-button heading6 button">
          <span>Get Started</span>
        </button>
      </div>
    </div>
  </div>
</div>
